.hereDiv {
    display: grid;
    background: no-repeat url("./images/Laputa.png");
    grid-template-columns: 1fr 1fr;
}

.span1 {
    background: red;
    margin: 100px;
}

.span2 {
    background: blue;
    margin: 200px;
}
