body {
    background: rgb(177, 116, 116);
}

.hereDiv {
    display: grid;
    background: no-repeat url("./images/Laputa.png");
    grid-template-columns: 1fr 1fr;
}

.span1 {
    background: red;
    margin: 100px;
}

.span2 {
    background: blue;
    margin: 200px;
}
.span3 {
    background: rgb(0, 255, 115);
    margin: 100px;
}

.span4 {
    background: rgb(238, 255, 0);
    margin: 200px;
}
